* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

.global-header {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.logo img {
  width: 240px;
}

.join-box-list {
  max-width: 468px;
  margin: 0 auto
}

.join-box-item {
  margin-bottom: 20px;
}

.inputbox {
  display: flex;
  align-items: center;
  height: 52px;
  background-color: white;
  border: 1px solid #dadada;
  margin-top: 10px;
  padding: 10px 12px;
  cursor: pointer;
}

.inputbox input {
  width: 75%;
  height: 100%;
  border: none;
  outline: none;
  /* 인풋박스 클릭 했을 때 선이 두까워 지는 것을 안 보이게 하는 것이다. */
  cursor: pointer;
  font-size: 18px;
  /* 박스를 만들어 주고 그 안에 input을 넣는데 input은 투명하게 만든 것이다. */
  /* input을 클릭했을 때 input 박스 라인이 두꺼워지기 때문이다. */
}

.inputbox div {
  /* 이거 다시 확인 */
  width: 25%;
  height: 100%;
  display: flex;
  /* input에 입력한 글씨와 자물쇠 이미지가 서로 균형을 이루게 */
  justify-content: end;
  align-items: center;
}

.inputbox p {
  margin-right: 5px;
}

.inputbox img {
  height: 24px;
}

.three-box {
  display: flex;
  justify-content: space-between;
}

.three-box .inputbox {
  width: calc((100%-20px) / 3);
}

.three-box .inputbox input {
  width: 100%;
}

.inputbox select {
  width: 100%;
  font-size: 18px;
  color: #777;
  border: none;
  outline: none;
}

#gender .inputbox{
  display: flex;
  justify-content: center;
}

#gender input[type="radio"] {
  display: none;
}

#phonenum, #postnum {
  display: flex;
  align-items: center;
}

#phonenum .inputbox, 
#postnum .inputbox {
  width: calc(100% -122px);
  margin-right: 7px;
}

#phonenum button, 
#postnum button {
  width: 115px;
  height: 52px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.disinput, 
.disinput input {
  background-color: #f7f7f7;
  cursor: not-allowed;
}

#joinbtn {
  width: 100%;
  height: 58px;
  cursor: pointer;
  border: none;
}

.inputboxact {
  border-color: #03c75a;
}

.btn-primary {
  background-color: #03c75a;
  color: white;
  font-weight: 700;
}

.text-red {
  color: red;
}

.text-green {
  color: #08a600;
}

.warn {
  margin: 15px 0;
}























































